@page "/load/{Id}/{SeoUrl}"

@using BlazorAppServer.Components.Dialog
@using BlazorAppServer.Data
@using BlazorAppServer.Data.Models
@using BlazorAppServer.Components
@using BlazorAppServer.Enums

@inject FileService fileService
@inject NavigationManager navigationManager
@inject IDialogService DialogService

<PageTitle>@GetTitle()</PageTitle>

<link href="/css/FileStyle.css" rel="stylesheet" type="text/css" />
<link href="/css/FileStylePage.css" rel="stylesheet" />

<HeadContent> 
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="description" content="@fileModel.Seo_Description">
    <meta name="keywords" content="@fileModel.Seo_Keywords">
    <meta name="robots" content="index,follow">
</HeadContent>


<div class="breadcrumbNav">
    <BreadcrumbComponent Items="@breadcrumbItems" />
</div>


<div class="content">
<div class="cols">
<main class="col-main">


<div class="content-block d-grid" id="content-block">

<AuthorizeView Roles="Administrator">
    <MudGrid Justify="Justify.FlexEnd" Style="padding-right:20px;">
    <MudIconButton Icon="@Icons.Material.Filled.FileCopy" OnClick="@((e)=> CopyFile(e))" Style="margin-right:5px;" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small" />
    <MudIconButton Icon="@Icons.Material.Filled.Edit" Style="margin-right:5px;" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small" />
    <MudIconButton Icon="@Icons.Material.Filled.Delete" OnClick="@((e)=> DeleteFile(e))" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small" />
    </MudGrid>
</AuthorizeView>

<article class="page ignore-select">
<div class="short sect__header">
<header class="short__header">
@* <?if($MODER_PANEL$)?><div style="float: right;padding: 5px;">$MODER_PANEL$</div><?endif?> *@


<h1 class="short__title">@fileModel.Name</h1>
<div class="short__meta d-flex">
<div class="short__meta-item"><MudIcon Icon="@Icons.Material.Filled.DateRange" Size="Size.Small" />@fileModel.CreationTime.ToShortDateString(), @fileModel.CreationTime.ToShortTimeString()</div>
<div class="short__meta-item hm2"></div>
<div class="short__meta-item hm2"><MudIcon Icon="@Icons.Material.Filled.Preview" Size="Size.Small" />@fileModel.Views</div>
<div class="short__meta-item"><MudIcon Icon="@Icons.Material.Filled.Comment" Size="Size.Small" />0</div>
<div class="short__meta-item"><?$RSTARS$('17','/dleimages/rating.svg','1','float')?></div>
</div>
</header>


<MudGrid Justify="Justify.FlexStart" Style="border-radius:1px">
    <MudItem Style="height:300px;">
        <MudImage Src="@fileModel.GetFirstImageUrl()" Height="280" Alt="Swedish Farm House" Elevation="25" Class="rounded-lg ma-4"/>
    </MudItem>

    <MudItem>
        <MudPaper Style="border-radius:2px;background:#F5F5F5;padding-top:10px;padding-left:5px;padding-bottom:15px;padding-right:15px;" Elevation="0">
            <MudText Typo="Typo.h6">Информация</MudText>
            <MudStack>
                <MudPaper Class="pa-1" Elevation="0" Style="border-radius:0px; font-size:10px;">Разработчик: <b>@fileModel.Developer </b></MudPaper>
                <MudPaper Class="pa-1" Elevation="0" Style="border-radius:0px; font-size:10px;">Цена: <b>@fileModel.Price</b></MudPaper>
                <MudPaper Class="pa-1" Elevation="0" Style="border-radius:0px; font-size:10px;">Лицензия: <b>@fileModel.Licence</b></MudPaper>
                <MudPaper Class="pa-1" Elevation="0" Style="border-radius:0px; font-size:10px;">Версия: <b>@fileModel.Version</b></MudPaper>
                <MudPaper Class="pa-1" Elevation="0" Style="border-radius:0px; font-size:10px;">Язык: <b>@fileModel.Language</b></MudPaper>
                <MudPaper Class="pa-1" Elevation="0" Style="border-radius:0px; font-size:10px;">ОС: <b>@fileModel.OC</b></MudPaper>
                <MudPaper Class="pa-1" Elevation="0" Style="border-radSius:0px; font-size:10px;">Рейтинг: <b>@fileModel.Rating</b></MudPaper>
            </MudStack>
        </MudPaper>
    </MudItem>
</MudGrid>

<div class="short__desc">
<div class="page__text full-text clearfix">@GetHtmlDescription()</div>

<br><a href="@fileModel.DownloadUrl" class="fdl-btn ignore-select">
<div class="fdl-btn-title"><strong>@fileModel.Name скачать бесплатно</strong></div>
<div class="fdl-btn-size fx-col fx-center">Размер: @fileModel.DownloadSize</div>
<div class="fdl-btn-footer fx-row fx-middle">
<div class="fdl-btn-caption fx-1 ws-nowrap">Название файла: @fileModel.DownloadFileName</div>
<div class="fdl-btn-dl">Скачали @fileModel.Downloads раз</div>
</div>

<div class="fdl-btn-icon"><span class="fal fa-arrow-to-bottom"></span></div>
</a>

<div class="page__tags"><span class="fal fa-tags"></span>@fileModel.Keywords</div>

<MudDivider />

<div class="page__comments">
    <div class="page__comments-form">
        <LoadCommentAddForm Comments="@fileModel.Comments" CurrentFile="@fileModel"/>
    </div>
</div>

</div>
</div>

</article>
<!-- </body> -->
</div>
</main> <!-- END COL-MAIN -->


        <aside>
        
                       <MudStack Justify="Justify.FlexStart" Style="margin:5px;"> 
                        @foreach (FileModel item in InformerRandomFiles)
                        {
                    <MudPaper Class="pa-3" Style="display: flex; align-items: center; gap: 10px;">
                        @if (item.Image.Count > 0)
                        {
                            <MudImage src="@item.Image.FirstOrDefault().ImageURL" Width="100" Height="75" Elevation="10" Class="rounded-lg" alt="@item.Name" />
                        }
                        <div class="top-files-content" Style="display: flex; flex-direction: column; justify-content: center;">
                            <div class="top-files-title"><a href="@item.GetFilePath()">@item.Name</a></div>
                            <MudDivider />
                            <div class="top-files-detail">
                                @if (@item.DescriptionFull.Length > 100)
                                {
                                <span>@item.DescriptionFull.Substring(0, 100)...</span>
                                }
                            </div>
                        </div>
                    </MudPaper>
                        }
            </MudStack>
              
      
        </aside>
 <!-- END COL-SIDE -->
</div> <!-- END COLS -->
</div> <!-- END CONTENT -->


@code {
    private List<Components.BreadcrumbItem> breadcrumbItems = new List<Components.BreadcrumbItem>
    {
        new Components.BreadcrumbItem { DisplayName = "Главная страница", Url = "/", Position = 1 },
        new Components.BreadcrumbItem { DisplayName = "Каталог файлов", Url = "/load", Position = 2 },
        new Components.BreadcrumbItem { DisplayName = $"Категория", Url = "/load/#",  Position = 3 },
        new Components.BreadcrumbItem { DisplayName = $"Файл", Url = "/load/#/#",  Position = 4, IsCurrent = true }
    };

    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string SeoUrl { get; set; }

    List<FileModel> files = new();
    FileModel fileModel = new();
    List<FileModel> InformerRandomFiles = new();

    Random rng = new Random();


    public async void CopyFile(MouseEventArgs e)
    {
        FileModel filenew = new();

        filenew.Keywords = "testfile";
        filenew.Category = "Инструменты разработчика";
        filenew.Name = "testfile";
        filenew.Description = "desc";
        filenew.DescriptionFull = "desc";
        filenew.Developer = "";
        filenew.CreationTime = DateTime.Now;
        filenew.UpdateTime = DateTime.Now;
        filenew.Licence = "test";
        filenew.Version = "2";
        filenew.DownloadFileName = "";
        filenew.DownloadSize = "2mb";
        filenew.DownloadUrl = "1";
        filenew.Language = "ru";
        filenew.OC = "";
        filenew.Price = "";
        filenew.Seo_Keywords = "";
        filenew.Seo_Description = "";
        filenew.Seo_Url = "testfile";
        filenew.Seo_Title = "test";
        await fileService.fileRepository.InsertLoadAsync(filenew);
    }

    public async void DeleteFile(MouseEventArgs e)
    {
        var parameters = new DialogParameters<CustomDialog>();
        parameters.Add(x => x.ContentText, $"Вы действительно хотите удалить файл '{fileModel.Name}'");
        parameters.Add(x => x.ButtonText, "Удалить");
        parameters.Add(x => x.Color, Color.Error);

        var dialog = DialogService.Show<CustomDialog>("Удаление файла", parameters);

        var result = await dialog.Result;

        var isCancelled = result.Cancelled;

        if (isCancelled == false)
        {
            await fileService.fileRepository.RemoveLoadAsync(fileModel);


            var parametersDeletedFile = new DialogParameters {{ "Информация", "Операция была успешна выполнена" }};

            DialogService.Show<SuccessDialog>("Файл был успешно удален", parametersDeletedFile);


            navigationManager.NavigateTo("/load");
        }
    }

   
    protected override async Task OnInitializedAsync()
    {
 

        files = await fileService.fileRepository.GetLoadsAsync();
        fileModel = await fileService.fileRepository.GetLoadAsync(Convert.ToInt32(Id));
        fileModel.Image = await fileService.imageRepository.GetImagesAsync(Convert.ToInt32(fileModel.Id));
        fileModel.Comments = await fileService.commentRepository.GetCommentsAsync();

        InformerRandomFiles = files;
        InformerRandomFiles = InformerRandomFiles.OrderBy(x => rng.Next()).Take(10).ToList();

        UpdateBreadcrumb();

        fileModel.Views++;

        await base.OnInitializedAsync();
    }


    #region Breadcrumb

    private Dictionary<string, string> CategoriesList = Enum.GetValues(typeof(Categories))
          .Cast<Categories>()
          .ToDictionary(
              x => EnumHelper.GetDescription(x),
              x => EnumHelper.GetUrlSlug(x)
          );


    private string GetCategoryNameValueFromSlug(string slug)
    {
        var category = CategoriesList.FirstOrDefault(c => c.Key == slug);
        return category.Value ?? "Unknown Category";
    }

    private string GetCategoryNameKeyFromSlug(string slug)
    {
        var category = CategoriesList.FirstOrDefault(c => c.Key == slug);
        return category.Key ?? "Unknown Category";
    }


    private MarkupString GetHtmlDescription()
    {
        if (string.IsNullOrEmpty(fileModel.DescriptionFull))
        {
            return new MarkupString(""); 
        }

        string htmlDescription = fileModel.DescriptionFull.Replace("\n", "<br>");

        return new MarkupString(htmlDescription);
    }

    private MarkupString GetTitle()
    {
         return new MarkupString($"{fileModel.Seo_Title}");
    }

     private MarkupString GetDescription()
    {
         return new MarkupString($"{fileModel.Seo_Description}");
    }

    private MarkupString GetKeywords()
    {
         return new MarkupString($"{fileModel.Seo_Keywords}");
    }

    private void UpdateBreadcrumb()
    {
        var categoryName = GetCategoryNameValueFromSlug(fileModel.Category);
         breadcrumbItems[2] = new Components.BreadcrumbItem
            {
                DisplayName = GetCategoryNameKeyFromSlug(fileModel.Category),
                Url = $"/load/{categoryName}",
                Position = 3
            };

        breadcrumbItems[3] = new Components.BreadcrumbItem
            {
                DisplayName = fileModel.Name,
                Url = $"/load/{categoryName}/{fileModel.Seo_Url}",
                IsCurrent = true,
                Position = 4
            };
            #endregion
    }
}
