@using Enums
@using Data
@inject FileService fileService

@page "/load/{categorieUrl}"

<link href="/css/FileStyle.css" rel="stylesheet" type="text/css" />

<div class="breadcrumbNav">
    <BreadcrumbComponent Items="@breadcrumbItems" />
</div>

@if (FileList.Count > 0)
{
    @foreach (FileModel item in FileList)
    {
        <div class="mini-vid clr">
            <div class="mini-vid-title">
                <span class="title-icon"><a href="@item.GetFilePath()">@item.Name</a></span>
            </div>
            <div class="mini-vid-img-text">
                <div class="mini-vid-img">
                    <img src="@item.Image" alt="@item.Name">
                </div>
                <div class="mini-vid-text">
                    @item.Description
                </div>
            </div>
            <div class="mini-vid-detali">
                <span class="dates">@item.CreationTime</span>
                <span class="reads">@item.Views просмотров</span>
                <span class="coments">@item.Comments комментариев</span>
                <span><a href="@item.GetFilePath()">Открыть</a></span>
            </div>
        </div>
    }
}
else
{
    <MudAlert Severity="Severity.Info" Variant="Variant.Filled">К сожалению данная категория еще пуста...</MudAlert>
}

@code {

    private bool isPageInitialized = false;

    List<FileModel> FileList = new List<FileModel>();

    [Parameter]
    public string categorieUrl
    {
        get => _categorieUrl;
        set
        {
            if (_categorieUrl == value) return;
            _categorieUrl = value;
            UpdateBreadcrumb();
            LoadFiles();
        }
    }
    private string _categorieUrl;

    private List<Components.BreadcrumbItem> breadcrumbItems = new List<Components.BreadcrumbItem>
    {
        new Components.BreadcrumbItem { DisplayName = "Главная страница", Url = "/", Position = 1 },
        new Components.BreadcrumbItem { DisplayName = "Каталог файлов", Url = "/load",  Position = 2 },
        new Components.BreadcrumbItem { DisplayName = $"Категория", Url = $"/load/#", IsCurrent=true, Position = 3 },
    };


    private void UpdateBreadcrumb()
    {
        string categoryName = Enums.EnumHelper.GetCategoryNameFromSlug(categorieUrl, true);
        breadcrumbItems[2] = new Components.BreadcrumbItem
            {
                DisplayName = categoryName,
                Url = $"/load/{categorieUrl}",
                IsCurrent = true,
                Position = 3
            };
    }

    private async Task LoadFiles()
    {
        if (isPageInitialized)
        {
            string categoryName = Enums.EnumHelper.GetCategoryNameFromSlug(_categorieUrl, false);
            FileList = await fileService.GetLoadFromCategorie(categoryName);
        }
    }

    protected override async Task OnInitializedAsync()
    {
          isPageInitialized = true;
        await LoadFiles();
      
    }
}
