@page "/load"

@using BlazorAppServer.Data
@using BlazorAppServer.Components
@using Microsoft.AspNetCore.Identity
@using Enums
@using BlazorAppServer.Areas.Identity.Data

@inject FileService loadService
@inject AuthenticationStateProvider AuthenticationStateProvider

@inject SignInManager<BlazorAppServerUser> SignInManager
@inject UserManager<BlazorAppServerUser> UserManager

<link href="/css/FileStyle.css" rel="stylesheet" type="text/css"/>

<div class="breadcrumbNav">
    <BreadcrumbComponent Items="@breadcrumbItems" />
    <div class="add-file-link">
        <span class="oi oi-data-transfer-upload" aria-hidden="true"></span>

        <a href="/load/add">Добавить файл</a>
    </div>
</div>


@if (FileList != null || FileList?.Count == 0)
{
    @foreach (FileModel item in FileList)
    {
        <div class="mini-vid clr">
            <div class="mini-vid-title">
                <span class="title-icon"><a href="@item.GetFilePath()">@item.Name</a></span>
            </div>
            <div class="mini-vid-img-text">
                <div class="mini-vid-img">
                    <img src="@item.Image" alt="@item.Name">
                </div>
                <div class="mini-vid-text">
                    @item.Description
                </div>
            </div>
            <div class="mini-vid-detali">
                <span class="dates">@item.CreationTime</span>
                <span class="reads">@item.Views просмотров</span>
                <span class="coments">@item.Comments комментариев</span>
                <span><a href="@item.GetFilePath()">Открыть</a></span>
            </div>
        </div>
    }
}

@code {
    List<FileModel> FileList;

    protected override async Task OnInitializedAsync()
    {
        FileList = await loadService.GetLoadsAsync();
    }

    private List<Components.BreadcrumbItem> breadcrumbItems = new List<Components.BreadcrumbItem>
    {
        new Components.BreadcrumbItem { DisplayName = "Главная страница", Url = "/", Position = 1 },
        new Components.BreadcrumbItem { DisplayName = "Каталог файлов", Url = "/load", IsCurrent = true, Position = 2 }
    };
}